@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="form">
        <div><div>
    <form action="@Url.Action("Crear","Mantenedor")" method="POST">
        <h2 class="display-7">Formulario de ingreso de casos</h2>

        <div>
            <label>Correo:</label><input type="email" name="email" id="email" placeholder="Ingresar Correo"
                                         required="">
        </div>
        <div>
            <label>Usuario:</label><input type="text" name="usuario" id="name" disable="" placeholder="Usuario">
        </div>

        <div>
            <label> Area:</label>
            <input type="text" name="area" disable="" placeholder="Area" required="">
        </div>

        <label class="display-7">Tipo de Servicio:</label>

        <div class="container">

            <div>
                <h6><input type="radio" name="servicio" id="tecnicos">Tecnicos</h6>
                <h6><input type="radio" name="servicio" id="desarrollo">Desarrollo</h6>
                <h6><input type="radio" name="servicio" id="basedatos">Base de Datos</h6>
                <h6><input type="radio" name="servicio" id="telecomunicaciones">Telecomunicaciones</h6>
                <h6><input type="radio" name="servicio" id="otro"> Otro</h6>
            </div>

        </div>

        <Textarea type="comment" name="comment" rows="3" cols="65" placeholder="Comentario"></Textarea>

        <button id="btn">Enviar</button>
    </form>
</div></div>

        <script src="https://smtpjs.com/v3/smtp.js">
        </script>
        <script>
            var btn = document.getElementById('btn');
            btn.addEventListener('click', funtion(e){
                e.preventDefault()
        var name = document.getElementById('name').value;
                var name = document.getElementById('email').value;
                var body = 'name: ' + name + '<br/> email: ' + email;
                Email.send({
                    Host: "smtp.gmail.com",
                    Username: "soporte.it.umg2022@gmail.com",
                    Password: "soporte$2022",
                    To: "soporte.it.umg2022@gmail.com",
                    From: email,
                }).then(
                    message => alert(message)
                );

            })
        </script>
    </div>
</div>
