@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form method="post">
        <h2 class="display-7">Formulario de ingreso de casos</h2>
        <div>
            <label>Correo:</label><input type="email" name="email" placeholder="Ingresar Correo" required="">
        </div>
        <div>
            <label>Usuario:</label><input type="text" name="usuario" disable="" placeholder="Usuario">
        </div>
        <div>
            <label>Area:</label><input type="text" name="area" disable="" placeholder="Area">
        </div>
        <label class="display-7">Tipo de Servicio:</label>

        <div class="container">


            <h6><input type="radio" name="servicio" id="tecnicos">Tecnicos</h6>
            <h6><input type="radio" name="servicio" id="desarrollo">Desarrollo</h6>
            <h6><input type="radio" name="servicio" id="bd">Base de Datos</h6>
            <h6><input type="radio" name="servicio" id="telecomunicaciones">Telecomunicaciones</h6>
            <h6><input type="radio" name="servicio" id="otro">Otro</h6>

        </div>

        <Textarea type="comment" name="comment" rows="3" cols="65" placeholder="Comentario"></Textarea>

        <input type="submit" name="register">
    </form>
</div>
