@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form method="post">
        <h2 class="display-7">Formulario de ingreso de casos</h2>
        <div>
            <p>Correo:</p><input type="email" name="email" placeholder="Ingresar Correo" required="">
        </div>
        <div>
            <p>Usuario:</p><input type="text" name="usuario" disable="" placeholder="Usuario">
        </div>
        <div>
            <p>Area:</p><input type="text" name="area" disable="" placeholder="Area">
        </div>
        <p class="display-7">Tipo de Servicio:</p>
        <div class="container">

            <label><input type="radio" name="servicio" id="tecnicos">Tecnicos</label>
            <label><input type="radio" name="servicio" id="desarrollo">Desarrollo</label>
            <label><input type="radio" name="servicio" id="bd">Base de Datos</label>
            <label><input type="radio" name="servicio" id="telecomunicaciones">Telecomunicaciones</label>
            <label><input type="radio" name="servicio" id="otro">Otro</label>

        </div>

        <Textarea type="comment" name="comment" rows="3" cols="65" placeholder="Comentario"></Textarea>

        <input type="submit" name="register">
    </form>
</div>
