@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Formulario de ingreso de casos</h1>
    <form method="post">
        <input type="email" name="email" placeholder="Email" required="email">
        <input type="text" name="user" placeholder="Usuario">

        <br></br>
        <Textarea type="comment" name="comment" rows="5" cols="65" placeholder="Tipo de Ticket"></Textarea>

        <input type="submit" name="register">
    </form>
</div>
